<a href="../">Back to Account index</a><br><br>
<h1>Add Account</h1>
<form action="{% url 'account:accountsetting' %}" method="post">
{% csrf_token %}
New Account : <input type="text" name="addlist"><br>
<br><br><input type="submit" value="Add" />
</form>

<!-- Delete //// cant use-->
<br><br><br>
<h1>Delete Account</h1>
<form action="{% url 'account:accountsetting' %}" method="post">
{% csrf_token %}
{% for account in account.account_list.all %}
    <input type="radio" name="selectaccount" id="account{{ forloop.counter }}" value="{{ account.id }}" />
    <label for="account{{ forloop.counter }}">{{ account.account_text }}</label>
{% endfor %}
</form>